{% extends 'base/layout.html' %} {% block content %}
<header class="header">
    <div class="overlay"></div>
    <div class="container">
        <div class="description text-center" id="infopage">
                    <h3 id="shadowtext">  Страница с информацией о контрагентах</h3>

            <div class="card" id="mycard">
                <h4>ФИО: {{d.name}}</h4>
                <p>телефон: {{d.phone}}</p>
                <p>паспортные данные: {{d.passport}}</p>
                <p>Адрес регистрации: {{d.address}}</p>
                <p>Дата рождения: {{d.date_of_birth}}</p>
                {%if request.user.is_authenticated and request.user.is_staff %}
                <a href="{% url 'counteragents_update' d.id %}"><button class="btn btn-outline-secondary" id="incardbutton">Обновить</button></a>
                <a href="{% url 'counteragents_delete' d.id %}"><button class="btn btn-outline-secondary" id="incardbutton">Удалить</button></a>
                {% endif %}
            </div>

        </div>
    </div>

</header>
{% endblock %}