{% extends 'base/layout.html' %} {% block content %}
<header class="header">
    <div class="overlay"></div>
    <div class="container">
        <div class="description">
            <h3>
                Добро пожаловать!</h3>
            <p>
                приложение предназначено для автоматизации работы компании по продаже квартир.</p>
            <a href="admin/login/?next=/"><button class="btn btn-outline-secondary" id="centerbutton">авторизация</button></a>
        </div>
    </div>

</header>
{% endblock %}